@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Sidebar wrapper and basic styles */
.wrapper {
    display: flex;
    height: 100%;
    background-color: #0e2238;
    position: fixed;
}

.sidebar {
    background-color: #0e2238;
    width: 250px;
    transition: width 0.3s ease;
    position: fixed;
    height: 100%;
    overflow-x: hidden;
}

/* Collapsed state */
.sidebar.collapsed {
    width: 70px;
}

/* Sidebar toggle button */
.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #ffffff !important; /* Icon color */
}

.sidebar-logo {
    margin: 20px;
}

.sidebar-logo a {
    color: #ffffff !important; /* Text color */
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar.collapsed .sidebar-logo,
#sidebar.collapsed a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #ffffff !important; /* Text color for sidebar links */
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
    color: #ffffff !important; /* Icon color for sidebar links */
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075) !important;
    border-left: 3px solid #3b7ddd !important;
}

.sidebar-item {
    position: relative;
}

/* For dropdowns */
#sidebar.collapsed .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238 !important;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar.collapsed .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

.sidebar-footer {
    padding: 1rem;
    background-color: #0e2238 !important; /* Footer background */
    color: #ffffff !important; /* Footer text */
}

.sidebar-footer a {
    color: #ffffff !important; /* Footer link color */
    display: flex;
    align-items: center;
}

.sidebar-footer a i {
    margin-right: .5rem;
}
